# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/

# HuggingFace / model files
models/
*.bin
*.pt
*.safetensors

# Zemberek
*.jar
*.class
*.java

# OS
.DS_Store

spell_checker/oneriler.txt


